<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
</head>
<body>
  <div id="skillSet">
<%= render partial: "position_id" %>
</div>
<div id="skillSSet" class="skillSSet">
<%= render partial: "shift_vehicle" %>
</div>
<style type="text/css">
#skillSSet {
	display: none;
}
</style>
<#style type="text/css">
     #html { height: 100% }
     #body { height: 100%; margin: 0; padding: 0 }
     #map-canvas { height: 400px }
 <#/style>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaCZ1QamN4k1sIcjzkIPFmNWxOQKn5UCg&sensor=false"></script>
 <script>
   function set_map(state, city){
     var mapOptions = {
       center: new google.maps.LatLng(25.687944,-100.309403),
       zoom: 8,
       mapTypeId: google.maps.MapTypeId.ROADMAP
     };
     var map = new google.maps.Map(document.getElementById("map-canvas"),
     mapOptions);

     if(state == ""){
       address = city;
     }else{
       address = state + ',' + city;
     }

     var geocoder = new google.maps.Geocoder();

     geocoder.geocode({
       'address':address
     },

     function(result, status){
       if (status == google.maps.GeocoderStatus.OK){
         map.setCenter(result[0].geometry.location);

         var marker = new google.maps.Marker({
           map: map,
           position: result[0].geometry.location
         });
       }else{
         alert("Geocode was not successful for the following reason: " + status);
       }
     });
     return false;
   }

   $(document).ready(function(){
     set_map('Oregon', 'Eugene');
   })
 </script>
 <br></br>
 <div class="row">
   <div class="col-md-8">
 <div class="container-centered">
<div id="map-canvas"></div></div></div>
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading"><h2>Work</h2></div>
<div class="panel-body">
<ul class="list-group">
 <!--   <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div> -->
    <li class="list-group-item"><p><strong>Shift ID</strong> <%= @shift.id %></p>
    <li class="list-group-item"><p><strong>Created At</strong> <%= @shift.created_at %></p>
    <li class="list-group-item"><p><strong>Updated At</strong> <%= @shift.updated_at %></p>
</ul>

</div>
</div>
</div>
</div>
  <h3>Users Shift</h3>
    <p><strong>Users Shift ID</strong> <%= @user_shift.id %></p>
    <p><strong>Position ID</strong> <%= @user_shift.position_id %></p>
    <p><strong>Shift ID</strong> <%= @user_shift.shift_id %></p>
    <p><strong>User ID</strong> <%= @user_shift.user_id %></p>
    <p><strong>Shift Vehicle ID</strong> <%= @user_shift.shift_vehicle_id %></p>
    <p><strong>Created At</strong> <%= @user_shift.created_at %></p>
    <p><strong>Updated At</strong> <%= @user_shift.updated_at %></p>

  <h3>Choose your Vehicle</h3>

  <h3>Shift Vehicles</h3>
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Start Mileage</th>
      <th>End Mileage</th>
      <th>Start Gas</th>
      <th>End Gas</th>
      <th>Shift ID</th>
      <th>Vehicle ID</th>
      <th>Created At</th>
      <th>Updated At</th>
    </thead>
    <% @sv.each do |shift_vehicles| %>
    <tbody>
        <tr>
          <td><%= shift_vehicles.id %></td>
          <td><%= shift_vehicles.start_mileage %></td>
          <td><%= shift_vehicles.end_mileage %></td>
          <td><%= shift_vehicles.start_gas %></td>
          <td><%= shift_vehicles.end_gas %></td>
          <td><%= shift_vehicles.shift_id %></td>
          <td><%= shift_vehicles.vehicle_id %></td>
          <td><%= shift_vehicles.created_at %></td>
          <td><%= shift_vehicles.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <script>$(document).ready(function() {
     $("#skillSet").find('.btn-group').bind('click', function() {
       $('.btn-group').remove();
       $("#skillSSet").fadeIn('fast');
  });
  });</script>
  <%= render 'form' %>
</body>
</html>
