<h1>Work</h1>
<p><strong>Shift ID</strong> <%= @shift.shift_id %></p>
<p><strong>Vehicle ID</strong> <%= @shift.vehicle_id %></p>
<p><strong>User ID</strong> <%= @shift.user_id %></p>
<p><strong>Created At</strong> <%= @shift.created_at %></p>
<p><strong>Updated At</strong> <%= @shift.updated_at %></p>
