<p id="notice"><%= notice %></p>
<table class="table table-hover">
  <thead>
      <th align="center">
      <th>Name</th>
      <th>Van</th>
      <th>Date</th>
  </thead>

  <tbody>
    <% @navigators.each do |navigator| %>
      <tr>
        <td><%= navigator.id %></td>
        <td><%= navigator.name %></td>
        <td><%= navigator.van %></td>
        <td><%= navigator.date %></td>
        <td><%= link_to 'Show', navigator %></td>
        <td><%= link_to 'Edit', edit_navigator_path(navigator) %></td>
        <td><%= link_to 'Destroy', navigator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Navigator', new_navigator_path %>

<table class="table table-hover">
<thead>
  <th> ID </th>
  <th>UO ID</th>
  <th> Rider Name </th>
  <th>Origin Address</th>
  <th>Destination Address</th>
  <th>Passengers</th>

  <th></th>
</thead>
<% @rides.each do |ride| %>
  <tr align="left">
    <td><%= link_to ride.id, ride_path(ride)%></td>
    <td><%= ride.sid%></td>
    <td><%= ride.name%></td>
    <td><%= ride.origin%></td>
    <td><%= ride.destination%></td>
    <td><%= ride.passengers%></td>
    <td><%= link_to "Done", edit_ride_path(ride), class:"btn btn-primary btn-xs" %></td>
  </tr>
<% end %>
</table>
