  <h3>Vehicles Shifts</h3>
  <table class="table table-hover">
    <thead>
      <th>Vehicles Shift ID</th>
      <th>Start Mileage</th>
      <th>End Mileage</th>
      <th>Start Gas</th>
      <th>End Gas</th>
      <th>Shift ID</th>
      <th>Vehicle ID</th>
      <th>Created At</th>
      <th>Updated At</th>
    </thead>
    <tbody>
      <%#= @vehicles_shift.each do |vehicles_shift| %>
        <tr>
          <td><%#= vehicles_shift.id %></td>
          <td><%#= vehicles_shift.start_mileage %></td>
          <td><%#= vehicles_shift.end_mileage %></td>
          <td><%#= vehicles_shift.start_gas %></td>
          <td><%#= vehicles_shift.end_gas %></td>
          <td><%#= vehicles_shift.shift_id %></td>
          <td><%#= vehicles_shift.vehicle_id %></td>
          <td><%#= vehicles_shift.created_at %></td>
          <td><%#= vehicles_shift.updated_at %></td>
        </tr>
      <%# end %>
    </tbody>
  </table>
  <h3>Create Shift Vehicles</h3>
  <% @vehicles.each do |vehicle| %>
  <%= simple_form_for vehicle do |f| %>
  <table class="table table-hover">
    <thead>
      <th> ID </th>
      <th>Vehicle Number</th>
      <th>Model</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th></th>
    </thead>
    <tbody>
        <tr>
          <td><%= f.input :vehicles_shifts_create, as: :check_boxes, checked_value: :id, unchecked_value: nil %></td>
          <td><%= vehicle.id %></td>
          <td><%= vehicle.vehicle_number %></td>
          <td><%= vehicle.model %></td>
          <td><%= vehicle.created_at %></td>
          <td><%= vehicle.updated_at %></td>
          <td> <%= f.button :submit %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <%#= submit_tag "Create Vehicles Shifts" %>
