<div class="clearfix">
  <h2 class="pull-xs-left">Rides</h2>
  <%= link_to "New Ride", new_ride_path, class: "btn btn-primary pull-xs-right" %>
</div>

<br>

<table class="table">
  <thead class="thead-default">
    <th>Id</th>
    <th>Van</th>
    <th>Student Id</th>
    <th>Rider Name</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Passengers</th>
    <th>Phone Number</th>
    <th></th>
  </thead>
  <tbody>
    <% @rides.each do |ride| %>
      <tr>
        <td><%= link_to ride.id, ride %></td>
        <td><%= ride.shift_vehicle_id%></td>
        <td><%= ride.sid%></td>
        <td><%= ride.name%></td>
        <td><%= ride.origin%></td>
        <td><%= ride.destination%></td>
        <td><%= ride.passengers%></td>
        <td><%= ride.phone%></td>
        <td>
          <%= link_to "Edit", edit_ride_path(ride), class: "text-warning" %>
          <%= link_to "Delete", ride_path(ride), class: "text-danger",  method: :delete, 
            data: { confirm: "Are you sure you want to delete this ride?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
