<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Click To Call Tutorial</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" type="text/css">
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
<table class="table table-hover">
<thead>
  <th> ID </th>
  <th>Van</th>
  <th>UO ID</th>
  <th> Rider Name </th>
  <th>Origin Address</th>
  <th>Destination Address</th>
  <th>Passengers</th>
  <th>Phone Number</th>
  <th></th>
</thead>
<% @rides.each do |ride| %>
  <tr align="left">
    <td><%= link_to ride.id, ride_path(ride)%></td>
    </div> </td>
    <td><%= ride.shift_vehicle_id%></td>
    <td><%= ride.sid%></td>
    <td><%= ride.name%></td>
    <td><%= ride.origin%></td>
    <td><%= ride.destination%></td>
    <td><%= ride.passengers%></td>
    <td><%= ride.phone%></td>
    <td><%= link_to "Edit", edit_ride_path(ride), class:"btn btn-default btn-xs" %>
<%= link_to "Delete", ride_path(ride), class:"btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure you want to delete this ride?" } %>
<form id="contactform" role="form" action="<%= call_path %>" method="POST">
  <div class="form-group">
    <h3>Call Sales</h3>
    <p class="help-block">
      Are you interested in impressing your friends and confounding your enemies? Enter your phone number below, and our team will contact you right away.
    </p>
  </div>
  <div class="form-group">
    <input class="form-control" type="hidden" name="phone" id="phoneNumber" value= "<%= ride.phone %>">
  </div>
  <button type="submit" class="btn btn-default btn-xs">Call</button>
</form></td>
  </tr>
<% end %>
</table>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
