<h1>New Ride</h1>
<%= javascript_include_tag  "jquery" %>
<%= javascript_include_tag  "jquery_ujs" %>
  <%= simple_form_for @ride do |f| %>
    <%= f.association :shift_vehicle, label_method: "vehicle_id" %>
    <%= f.button :submit %>
  <% end %>
<p><strong>Student ID</strong> <%= @ride.sid %></p>
<p><strong>Name</strong> <%= @ride.name %></p>
<p><strong>Origin Address</strong> <%= @ride.origin %></p>
<p><strong>Destination Address</strong> <%= @ride.destination %></p>
<p><strong>Number of Passengers</strong> <%= @ride.passengers %></p>
<p><strong>Phone Number</strong> <%= @ride.phone %></p>
