<h1>New Ride</h1>

<p><strong>Student ID</strong> <%= @ride.sid %></p>
<p><strong>Name</strong> <%= @ride.name %></p>
<p><strong>Origin Address</strong> <%= @ride.origin %></p>
<p><strong>Destination Address</strong> <%= @ride.destination %></p>
<p><strong>Number of Passengers</strong> <%= @ride.passengers %></p>
<p><strong>Phone Number</strong> <%= @ride.phone %></p>
